@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "About", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Deneyim Ekle</h4>
                <form class="forms-sample">
                    @Html.HiddenFor(e=>e.AboutID)
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" asp-for="Title" class="form-control" placeholder="Başlık">
                    </div>
                    <div class="form-group">
                        <label>Yaş</label>
                        <input type="text" class="form-control" asp-for="Age" placeholder="Yaş">
                    </div>
                    <div class="form-group">
                        <label>Email Adresi</label>
                        <input type="text" class="form-control" asp-for="Mail" placeholder="Email Adresi">
                    </div>
                    <div class="form-group">
                        <label>Telefon Numarası</label>
                        <input type="text" asp-for="Phone" class="form-control" placeholder="Telefon Numarası">
                    </div>
                    <div class="form-group">
                        <label>Adres</label>
                        <input type="text" class="form-control" asp-for="Address" placeholder="Adres">
                    </div>
                    <div class="form-group">
                        <label>Profil Resmi</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Profil Resmi">
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        <textarea rows="6" class="form-control" asp-for="Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}