@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-5 text-left">
                <h2 class="card-title">Deneyimler Listesi</h2>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a href="/Skill/AddSkill/" class="btn btn-primary">Deneyim Ekle</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Değer</th>
                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @item.SkillID
                            </th>
                            <td class="budget">
                                @item.Title
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                </div>
                            </td>
                            <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Skill/EditSkill/@item.SkillID" class="btn btn-outline-info">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>