@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-5 text-left">
                <h2 class="card-title">Deneyimler Listesi</h2>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a href="/Experience/AddExperience/" class="btn btn-primary">Deneyim Ekle</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Tarih</th>
                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @item.ExperienceID
                            </th>
                            <td class="budget">
                                @item.Name
                            </td>
                            <td>
                                @item.Date
                            </td>
                            <td><a href="/Experience/DeleteExperience/@item.ExperienceID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Experience/EditExperience/@item.ExperienceID" class="btn btn-outline-info">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
