<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/SkydashAdminTheme/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/SkydashAdminTheme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/SkydashAdminTheme/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/SkydashAdminTheme/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/SkydashAdminTheme/images/favicon.png" />
</head>